@media (min-width: 768px) {
    .sidebar-collapse .content-wrapper,
    .sidebar-collapse .main-footer {
      margin-left: 0;
    }
  }
  @media (max-width: 767px) {
    .sidebar-open .content-wrapper,
    .sidebar-open .main-footer {
      -webkit-transform: translate(230px, 0);
      -ms-transform: translate(230px, 0);
      -o-transform: translate(230px, 0);
      transform: translate(230px, 0);
    }
  }
  .main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  }
  @media (max-width: 767px) {
    .main-sidebar {
      padding-top: 100px;
    }
  }
  @media (max-width: 767px) {
    .main-sidebar {
      -webkit-transform: translate(-230px, 0);
      -ms-transform: translate(-230px, 0);
      -o-transform: translate(-230px, 0);
      transform: translate(-230px, 0);
    }
  }

  @media (max-width: 767px) {
    .sidebar-open .main-sidebar {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  .sidebar {
    padding-bottom: 10px;
  }
 
 
  .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
  }
  .sidebar-menu > li > a > .fa,
  .sidebar-menu > li > a > .glyphicon,
  .sidebar-menu > li > a > .ion {
    width: 20px;
  }
  .sidebar-menu > li .label,
  .sidebar-menu > li .badge {
    margin-right: 5px;
  }
  .sidebar-menu > li .badge {
    margin-top: 3px;
  }
  .sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
  }
  .sidebar-menu li > a > .fa-angle-left,
  .sidebar-menu li > a > .pull-right-container > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
  }
  .sidebar-menu li > a > .fa-angle-left {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
  }
  .sidebar-menu .menu-open > a > .fa-angle-left,
  .sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .sidebar-menu .active > .treeview-menu {
    display: block;
  }
 

  .sidebar-expanded-on-hover .main-footer,
  .sidebar-expanded-on-hover .content-wrapper {
    margin-left: 50px;
  }
  .sidebar-expanded-on-hover .main-sidebar {
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.125);
  }
  .sidebar-menu,
  .main-sidebar .user-panel,
  .sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
  }
  .sidebar-menu:hover {
    overflow: visible;
  }
  .sidebar-form,
  .sidebar-menu > li.header {
    overflow: hidden;
    text-overflow: clip;
  }
  .sidebar-menu li > a {
    position: relative;
  }
  .sidebar-menu li > a > .pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
  }
 
  .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
  }
  .treeview-menu .treeview-menu {
    padding-left: 20px;
  }
  .treeview-menu > li {
    margin: 0;
  }
  .treeview-menu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
  }
  .treeview-menu > li > a > .fa,
  .treeview-menu > li > a > .glyphicon,
  .treeview-menu > li > a > .ion {
    width: 20px;
  }
  .treeview-menu > li > a > .pull-right-container > .fa-angle-left,
  .treeview-menu > li > a > .pull-right-container > .fa-angle-down,
  .treeview-menu > li > a > .fa-angle-left,
  .treeview-menu > li > a > .fa-angle-down {
    width: auto;
  }
  .bg-blue {
    background-color: #0073b7 !important;
  }
  .sidebar-menu .treeview a >span  {
      font-size: 1em;
  }
  .sidebar-menu .fa-hand-o-right{
    opacity: 0;
  }
  .sidebar-menu ul li:not(:first-child) .text-white .fa-hand-o-right{
    opacity: 1;
  }