html, body {
	height: 100%;
	font-size:1rem;
}

.navbar {
	padding: 0px !important;
}

.sidebar-collapse .main-sidebar {
	width: 50px !important;
	z-index: 850;
	transform: translate(0, 0);
}

.sidebar-collapse .sidebar-menu>li>a>span {
	display: none !important;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right),
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
	display: block !important;
	position: absolute;
	width: 180px;
	left: 50px
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span {
	top: 0;
	margin-left: -3px;
	padding: 12px 5px 12px 20px;
	background-color: inherit;
}

.sidebar-mini:not(.sidebar-collapse) ul.sidebar-menu li a span {
	padding-left: 5px;
}

.treeview-menu .treeview-menu {
	padding-left: 7px !important;
}
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}