<span style="width:12%;float: left;">
     <div class="ui-fluid">
        <input type="text" pInputText  [value]="hh" (keyup)="switch($event);" id="hh" />  
     </div>

</span>
<span style="width:12%;float: left;">
    <div class="ui-fluid">
        <input type="text" pInputText id="mm"  [value]="mm" (keyup)="switch($event);" />  
     </div>

</span>
<span style="width:12%;float: left;">
    <div class="ui-fluid">
        <input type="text" pInputText id="ss"  [value]="ss" (keyup)="switch($event);"/>  
     </div>
</span>